* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding-left: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: lightgrey;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav .nav-center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav a {
  display: inline-block;
}
nav ahover {
  color: white;
  background-color: orange;
}
nav .nav-right {
  display: inline-block;
}
nav .nav-right fa-bars {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .nav-center {
    visibility: hidden;
  }
  ul {
    flex-direction: row;
  }
  a {
    margin-bottom: 10px;
  }
  .fa-solid {
    display: inline-block;
  }
}
section {
  background-color: pink;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

hero-left {
  color: #000;
}

#image {
  background-color: #000;
  border-radius: 50%;
}

hero-right {
  margin: right;
  padding: 80%;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  border-bottom: solid gray;
  margin-top: 1em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.containerr .new {
  list-style: underlined;
  justify-content: space-between;
}

new ul {
  display: flex;
  justify-content: flex-start;
  align-items: column;
  flex-direction: row;
  flex-wrap: no-wrap;
}
new ul li a {
  display: inline-block;
}
new ul li ahover {
  color: white;
  background-color: orange;
}
new ul li .item-wan {
  display: flex;
}

.items-wan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 1em;
}