 @use"./variables" as *;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    color:$black; 
    text-decoration: none;
     
    } 
    

ul, li{
    list-style-type:none;
    padding-left:20px;
    
}

.container{
    width: 80%;
    margin:0 auto;}


