@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
section{background-color: pink;}
.hero-section{
    @include flex(space-between,center);
    
}
hero-left{
    color:$black;
}
#image{
 background-color: $black;
 border-radius: 50%;
}
hero-right{
    margin:right;
    padding:80%;
}

.items {
    @include flex(space-between, center);
    border-bottom: solid gray;
    margin-top: 1em;

  }

  .flex{
    @include flex(space-between, center);
  }


