@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
section{.hero-section{
    width: 80%;
    margin: 0;
}
    .flex{
        @include flex(space-between,center);
        align-items: center;
        width: 450px;
        height: 50vh;
        margin: 2px 0;
       .box{
        background-color: orange;
       } 
    }
}



